# This template does the following:
#
# 1. Builds the project while resolving the dependencies from Artifactory
# 2. Uploads the build artifact to Artifactory
# 3. Publishes the build-info to Artifactory
#
# Requirements:
# Configure the following variables with the names of npm repositories in JFrog Artifactory:
#   'ARTIFACTORY_REPO', and 'ARTIFACTORY_LOCAL_REPO'.

default:
  image: node:16

jfrog-npm-build:
  script:
    # Configure JFrog Artifactory repositories
    - jf npmc --repo-resolve $ARTIFACTORY_REPO --repo-deploy $ARTIFACTORY_LOCAL_REPO

    # Resolve dependencies from JFrog Artifactory
    - jf npm install

    # Deploy *.tar.gz to JFrog Artifactory
    - jf npm publish

    # Publish build-info to JFrog Artifactory
    - jf rt build-publish
