# Use this template to resolve artifacts in a .NET project and publish the build information to JFrog Artifactory.
# Requirements:
# Configure the following variables with the corresponding NuGet repositories in JFrog Artifactory:
#   'ARTIFACTORY_VIRTUAL_REPO', and 'ARTIFACTORY_LOCAL_REPO'.
default:
  image: mono

jfrog-nuget-build:
  script:
    # Configure JFrog Artifactory repositories
    - jf dotnet-config --repo-resolve $ARTIFACTORY_REPO

    # Resolve dependencies from JFrog Artifactory
    - jf dotnet restore

    # Upload artifact
    - jf rt u <path-to-local-file> <ARTIFACTORY_LOCAL_REPO>/

    # Publish build-info to JFrog Artifactory
    - jf rt build-publish
