# This template does the following:
#
# 1. Builds the project while resolving the dependencies from Artifactory
# 2. Uploads the build artifact to Artifactory
# 3. Publishes the build-info to Artifactory
#
# Requirements:
# Configure the following variables with the Maven repositories in JFrog Artifactory:
#   'ARTIFACTORY_VIRTUAL_RELEASE_REPO', 'ARTIFACTORY_VIRTUAL_SNAPSHOT_REPO', 'ARTIFACTORY_LOCAL_RELEASE_REPO', and 'ARTIFACTORY_LOCAL_SNAPSHOT_REPO'.

default:
  image: maven:3.8.6-openjdk-11-slim

include:
  - remote: "https://releases.jfrog.io/artifactory/jfrog-cli/gitlab/.setup-jfrog.yml"
jfrog-maven-build:
  script:
    - !reference [.setup_jfrog, script]

    # Configure JFrog Artifactory repositories
    - jf mvn-config --repo-resolve-releases $ARTIFACTORY_VIRTUAL_RELEASE_REPO --repo-resolve-snapshots $ARTIFACTORY_VIRTUAL_SNAPSHOT_REPO --repo-deploy-releases $ARTIFACTORY_LOCAL_RELEASE_REPO --repo-deploy-snapshots $ARTIFACTORY_LOCAL_SNAPSHOT_REPO

    # Build Maven project and publish artifacts to JFrog Artifactory
    - jf mvn package deploy

    # Publish build-info to JFrog Artifactory
    - jf rt build-publish

    # Cleanup
    - !reference [.cleanup_jfrog, script]