# This template does the following:
#
# 1. Builds the project while resolving the dependencies from Artifactory
# 2. Uploads the build artifact to Artifactory
# 3. Publishes the build-info to Artifactory
#
# Requirements:
# Configure the following variables with the names of Go repositories in JFrog Artifactory:
#   'ARTIFACTORY_VIRTUAL_REPO', and 'ARTIFACTORY_LOCAL_REPO'.

default:
  image: golang

include:
  - remote: "https://releases.jfrog.io/artifactory/jfrog-cli/gitlab/.setup-jfrog.yml"
jfrog-go-build:
  script:
    - !reference [.setup_jfrog, script]

    # Configure JFrog Artifactory repositories
    - jf go-config --repo-resolve $ARTIFACTORY_VIRTUAL_REPO --repo-deploy $ARTIFACTORY_LOCAL_REPO

    # Build Go project
    - jf go build

    # Create and upload the Go package to JFrog Artifactory
    - jf go-publish v1.0.0

    # Publish build-info to JFrog Artifactory
    - jf rt build-publish

    # Cleanup
    - !reference [.cleanup_jfrog, script]